.actn-btn{
  color: #FFFFFF;
  background-color: #376B7E;
  border-radius: 5px;
  float: left;
  margin-right: 5px;
  width: 40%;
  font-size: 0.8rem;
}
.div-mrgn{
   margin-right: 5px;
  width: 30%;
}
